[mysqld]
character-set-server=utf8mb4
default_authentication_plugin=mysql_native_password
# CREATE TABLE するときに ROW_FORMAT=DYNAMICが必要
# utf8mb4は767 bytes以上のカラムに通常のインデックスを貼ることできないのでinnodb_large_prefixを使用する
# character-set-server=utf8mb4
# innodb_large_prefix
# innodb_file_per_table
# innodb_file_format=Barracuda
# innodb_file_format_max=Barracuda

# max_allowed_packet=20M

#  Query log
# general_log=1
# general_log_file="/var/log/mysql/sql.log"
# log_output=FILE

#  Slow Query log
slow_query_log=1
slow_query_log_file="/var/log/mysql/slow.log"
long_query_time=5

[mysqldump]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4
